<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Save your Style sheet</title>
    </head>
    <body>
        <div><h2>Copy the text inside the box and paste inside your style sheet</h2></div>
        <div style="border-style:solid; padding:.5cm; width:30%; margin-top:5%; margin-left:3%">
        <p>.mainheader{<br>
    background-color:{{color1}};<br>
    font-family:{{mainbnrfnt}};<br>
    font-size:{{mainbnrfntsz}};<br>
    heigth:{{mainbanht}};<br>
    width:{{mainbanwt}};<br>
    color:{{mainbantxtcolor}};<br>
}</p>

<p>
    .divheader{<br>
    background-color:{{color}};<br>
    font-family:{{banr1fnt}};<br>
    font-size:{{banr1fntsz}};<br>
    heigth:{{ban1ht}};<br>
    width:{{ban1wt}};<br>
    color:{{ban1textclr}};<br>
    
</p>
<p>
    .divbody{
    background-color:{{bodycolor}};<br>
    font-family:{{bodyfnt}};<br>
    font-size:{{bodyfntsz}};<br>
    heigth:{{bodyht}};<br>
    width:{{bodywt}};<br>
    color:{{bodytxtclr}};<br>
}
</p>
<p>
    .background{<br>
    background-color:{{bckgrdcl}}<br>
}
</p>
</div>



    </body>
</html>
